* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono", "FontAwesome";
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: #00ff99;
    margin: 2px 2px;
}

#workspaces {
  margin: 2px;
  margin-left: 1rem;
}

#workspaces button {
  color: #00ff99;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  box-shadow: none;
  border: none;
}

#cpu,
#clock,
#network,
#pulseaudio,
#wireplumber,
#tray {
  padding: 1rem;
}

#clock {
  color: #00ff99;
}

#pulseaudio {
  color: #00ff99;
}

#network {
  color: #00ff99;
}
#cpu {
  margin-right: 1rem;
}
