window {
margin: 0px;
border: 1px solid #00ff99;
border-radius: 10px;
background-color: black;
}

#input {
margin: 5px;
border: none;
color: #00ff99;
background-color: black;
}

#inner-box {
margin: 5px;
border: none;
background-color: black;
}

#outer-box {
margin: 5px;
border: none;
background-color: black;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #00ff99;
} 

#entry.activatable #text {
color: #00ff99;
}

#entry > * {
color: #00ff99;
}

#entry:selected {
background-color: black;
}

#entry:selected #text {
font-weight: bold;
}
